<form asp-action="Index" method="post">
    <label>ID:</label>
    <input type="text" name="ID">
    <br>
    <label>FullName:</label>
    <input type="text" name="FullName">
    <br>
    <label>BirthDay:</label>
    <input type="date" name="BirthDay">
    <br>
    <input type="submit" value="Gui Du Lieu">
</form>